html{
  margin: 0;
  height:100%;
  width:100%;
}

body {
  margin: 0;
  height:100%;
  width:100%;
}

.row.h-center.v-center {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   /*align-items: center;*/
   -webkit-justify-content: center;
   /*justify-content: center;*/
}

#logo{
  margin-top: -10px;
  margin-left:-10px;
  padding:0;
}

.logodiv {
  display:flex;
}

.logodiv img {
  padding-bottom:10px;
}

.sensor {
  padding: 20px;
}

.react-sensor-div {
  padding: 10px;
}

.container {
	margin:0;
  padding:0;
  width:100%;
  height:100%;
	position:absolute;
	z-index:997;
}

#time {
  font-family:Source Sans Pro;
  font-size:7em;
  color:white;
}

#sketch {
	z-index:0;
}

.row {
  margin:0;
}

.row.h-center.v-center {
  margin-bottom: 5px
}

.sbs {
  float:left;
}

.flex-height {
  height:100%;
}

.flex-height-child {
  height:100% ;
}

.col-xs-12.logodiv.bluebg {
  margin:0;
  padding-left:5px;
}

.bluebg {
  background: #333333;
}

.sensor-bg-blue {
  margin:0;
  padding:0;
  /*background:#3670D2;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 10px #888888;
}

.sensor-bg-green {
  margin:0;
  padding:0;
  /*background:#0BAC45;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 10px #888888;
}

.sensor-bg-red {
  margin:0;
  padding:0;
  /*color:#E21832;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 10px #888888;
}

.sensor-bg-purple {
  margin:0;
  padding:0;
  /*background:#8B4CDB;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 10px #888888;
}

.sensor-bg-pink {
  margin:0;
  padding:0;
  /*background:#E96294;*/
  /*background:white;*/
 /*box-shadow: 10px 10px 10px #888888;*/
 box-shadow: 1px 1px 10px #888888;
  /*border:1px solid #E96294;*/
}
/*
.pink {
  background:#E96294;
  padding:2px;
}
*/
.sensor-bg-yellow {
  margin:0;
  padding:0;
  /*background:#FBD046;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 15px #888888;
}

.sound {
  color:#FBD046;
}

.member {
  color:#8B4CDB;
}

.temp {
  color:#E21832;
}

.humid {
  color:#3670D2;
}

.beverage {
  color:#E96294;
}

.door {
  color:#0BAC45;
}

.icon {
}

.buttons {
  text-align:right;
}

.value {
  float:left;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size:2.5em;
  text-align: left;
  vertical-align: middle;
  flex:1;
  padding-left:10px;
}

.unit {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:0.6em;
  color:grey;
  text-align: center;
  vertical-align: middle;
}

.graph {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.smbutton-member {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #8B4CDB !important;
  font-size: 1em;
  height:100%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-left:2px;
  margin-right:2px;
  border: 1px solid #8B4CDB;
  background: white;
  transition: all 1s ease;
}

.smbutton-member:hover {
  color: white !important;
  border: 1px solid #8B4CDB;
  background: #8B4CDB;
}

.smbutton-member:active {
  color: white !important;
  border: 1px solid #8B4CDB;
  background: #8B4CDB;
}

.smbutton {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1D4998 !important;
  font-size: 1em;
  height:100%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-left:2px;
  margin-right:2px;
  border: 1px solid #1D4998;
  background: white;
  transition: all 1s ease;
}

.smbutton:hover {
  color: white !important;
  border: 1px solid #1D4998;
  background: #1D4998;
}

.smbutton:active {
  color: white !important;
  border: 1px solid #1D4998;
  background: #1D4998;
}

.smbutton-temp {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #E21832 !important;
  font-size: 1em;
  height:100%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-left:2px;
  margin-right:2px;
  border: 1px solid #E21832;
  background: white;
  transition: all 1s ease;
}

.smbutton-temp:hover {
  color: white !important;
  border: 1px solid #E21832;
  background: #E21832;
}

.smbutton-temp:active {
  color: white !important;
  border: 1px solid #E21832;
  background: #E21832;
}

.smbutton-humid {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #3670D2 !important;
  font-size: 1em;
  height:100%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-left:2px;
  margin-right:2px;
  border: 1px solid #3670D2;
  background: white;
  transition: all 1s ease;
}

.smbutton-humid:hover {
  color: white !important;
  border: 1px solid #3670D2;
  background: #3670D2;
}

.smbutton-humid:active {
  color: white !important;
  border: 1px solid #3670D2;
  background: #3670D2;
}

.smbutton-beverage {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #E96294 !important;
  font-size: 1em;
  height:100%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-left:2px;
  margin-right:2px;
  border: 1px solid #E96294;
  background: white;
  transition: all 1s ease;
}

.smbutton-beverage:hover {
  color: white !important;
  border: 1px solid #E96294;
  background: #E96294;
}

.smbutton-beverage:active {
  color: white !important;
  border: 1px solid #E96294;
  background: #E96294;
}

.smbutton-door {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #0BAC45 !important;
  font-size: 1em;
  height:100%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-left:2px;
  margin-right:2px;
  border: 1px solid #0BAC45;
  background: white;
  transition: all 1s ease;
}

.smbutton-door:hover {
  color: white !important;
  border: 1px solid #0BAC45;
  background: #0BAC45;
}

.smbutton-door:active {
  color: white !important;
  border: 1px solid #0BAC45;
  background: #0BAC45;
}
