html{
  margin: 0;
  height:100%;
  width:100%;
}

body {
  margin: 0;
  height:100%;
  width:100%;
}

.logo {

}

.sound {
  height:300px;
}

.profile {
  height:300px;
}
.logodiv {
  display:flex;
}

.logodiv img {
  padding-bottom:10px;
}

.root {
	z-index: 1;
}

.sensor {
  padding: 20px;
}

.react-sensor-div {
  padding: 10px;
}

.white-txt {
  font-family:Source Sans Pro;
  font-size:2.5em;
  color:#1D4998;
}

.container {
	margin:0;
  padding:0;
  width:100%;
  height:100%;
	position:absolute;
	z-index:997;
}

#time {
  font-family:Source Sans Pro;
  font-size:7em;
  color:white;
}

#sketch {
	z-index:0;
}

.h-center {
  display:flex;
  justify-content: center;
}

.v-center {
  display:flex;
  align-content: center;
}

.row {
  margin:0;
}

.row.h-center.v-center {
  margin-bottom: 5px
}

.sbs {
  float:left;
}

.flex-height {
  height:100%;
}

.flex-height-child {
  height:100% ;
}

.col-xs-12.logodiv.bluebg {
  margin:0;
  padding-left:5px;
}

.bluebg {
  background: #1D4998;
}

.sensor-bg-blue {
  margin:0;
  padding:0;
  /*background:#3670D2;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 10px #888888;
}

.sensor-bg-green {
  margin:0;
  padding:0;
  /*background:#0BAC45;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 10px #888888;
}

.sensor-bg-red {
  margin:0;
  padding:0;
  /*background:#E21832;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 10px #888888;
}

.sensor-bg-purple {
  margin:0;
  padding:0;
  /*background:#8B4CDB;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 10px #888888;
}

.sensor-bg-pink {
  margin:0;
  padding:0;
  /*background:#E96294;*/
 /*box-shadow: 10px 10px 10px #888888;*/
 box-shadow: 1px 1px 10px #888888;
}

.sensor-bg-yellow {
  margin:0;
  padding:0;
  /*background:#FBD046;*/
  /*box-shadow: 10px 10px 10px #888888;*/
  box-shadow: 1px 1px 15px #888888;
}

.icon {
    
}


.buttons {

}

.value {
  float:left;
  font-family:Source Sans Pro;
  font-size:1.5em;
  text-align: center;
  vertical-align: middle;
  width:60px;
  height:60px;
}

.graph-container {
  margin:0 auto;
  align-content: center;
  justify-content: center;
  padding-top:10px;
  padding-left: 30px;
  padding-right:30px;
  margin-bottom: 25px;
}

.button {
  height:300px;
  width:100%;
  display:inline-block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #07526e;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  cursor:pointer;
  background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
  border-radius: 5px;
}

.smbutton {
  font-family: arial;
  color: white !important;
  font-size: 15px;
  height:100%;
  /*text-shadow: 1px 1px 0px #7CACDE;*/
  padding: 5px;
  margin-left:2px;
  margin-right:2px;
  border: 1px solid #1D4998;
  background: #1D4998;
  /*background: linear-gradient(top,  #63B8EE,  #468CCF);*/
  /*background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);*/
  /*background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));*/
  /*background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);*/
}

.smbutton:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}